# Data Science Ecosystem

In this Data Science Notebook, some Data Science Tools and Ecosystem are summarized

__Objectives:__

- Listing some popular Languages used in Data Science 
- Listing some popular Libraries used in Data Science 
- Making a brief table of some Data Science Tools
- Making 2 examples of using arithmetic expressions in Python:
  - A simple arithmetic operation
  - A conversor from 200 minutes to hours

Some of the most popular __languages__ that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the most commonly used __libraries__ used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Keras

| Data Science Tools | 
|------------------- |
|        IDLE        |   
|      PyCharm       |
|  Visual Studio     |

### Here are some examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This cell will convert 200 minutes to hours 

print('200 minutes are ' + str(int(200/60)) + ' hours')

200 minutes are 3 hours

## Author
Francisco Guti√©rrez Peinado